/* Show it is fixed to the top */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* min-height: 75rem; */
	padding-top: 6.5rem;
	margin-bottom: 60px;
	background: #f8f8f8 !important;
}

.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	/* Set the fixed height of the footer here */
	line-height: 60px;
	/* Vertically center the text there */
}

#main-navbar {
	font-family: Product Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
}

#main-navbar .nav-link {
	border-bottom: 5px solid #f8f9fa;
}

#main-navbar .nav-link:hover,
#main-navbar a.active {
	border-bottom: solid #cdd1d4;
	font-weight: bold;
}

#collab img {
	width: 80px;
}

#collab a {
	text-decoration: none;
	color: rgb(230, 230, 230);
}

/*  MEMBER LIST - Halaman Home  */

#member-list .card-body img {
	width: 125px;
	margin-top: -80px;
}
